<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsrs.webedi.modular.system.persistence.dao.RequestMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.tsrs.webedi.modular.system.persistence.model.Request">
		<id column="req_id" property="reqId" />
		<result column="req_dt" property="reqDt" />
		<result column="req_user_id" property="reqUserId" />
		<result column="req_amt_without_tax" property="reqAmtWithoutTax" />
		<result column="req_amt_tax" property="reqAmtTax" />
		<result column="req_amt_with_tax" property="reqAmtWithTax" />
		<result column="req_remark" property="reqRemark" />
		<result column="sys_ins_user_id" property="sysInsUserId" />
		<result column="sys_ins_dt" property="sysInsDt" />
		<result column="sys_ins_pg_id" property="sysInsPgId" />
		<result column="sys_upd_user_id" property="sysUpdUserId" />
		<result column="sys_upd_dt" property="sysUpdDt" />
		<result column="sys_upd_pg_id" property="sysUpdPgId" />
	</resultMap>

</mapper>
