<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsrs.webedi.modular.system.dao.ApprdocMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.tsrs.webedi.modular.system.persistence.model.Apprdoc">
		<id column="appr_doc_id" property="apprDocId" />
		<result column="appr_doc_no" property="apprDocNo" />
		<result column="use_flg" property="useFlg" />
		<result column="appr_doc_dt_from" property="apprDocDtFrom" />
		<result column="appr_doc_dt_to" property="apprDocDtTo" />
		<result column="appr_doc_create_k" property="apprDocCreateK" />
		<result column="appr_doc_create_dt" property="apprDocCreateDt" />
		<result column="appr_doc_st" property="apprDocSt" />
		<result column="business_main_user_id" property="businessMainUserId" />
		<result column="business_sub_user_id" property="businessSubUserId" />
		<result column="dept_cd" property="deptCd" />
		<result column="emp_no" property="empNo" />
		<result column="emp_nm" property="empNm" />
		<result column="emp_nm_fuli" property="empNmFuli" />
		<result column="emp_sex" property="empSex" />
		<result column="emp_birthday" property="empBirthday" />
		<result column="entrance_dt" property="entranceDt" />
		<result column="emp_my_number" property="empMyNumber" />
		<result column="emp_pat_k" property="empPatK" />
		<result column="affiliation_k" property="affiliationK" />
		<result column="entrance_record_k" property="entranceRecordK" />
		<result column="old_appr_doc_no" property="oldApprDocNo" />
		<result column="take_over_k" property="takeOverK" />
		<result column="order_recv_hope_dt" property="orderRecvHopeDt" />
		<result column="from_home_station_nm" property="fromHomeStationNm" />
		<result column="client_contract_k" property="clientContractK" />
		<result column="appoint_allow_ratio" property="appointAllowRatio" />
		<result column="house_allow_ratio" property="houseAllowRatio" />
		<result column="communication_allow_ratio" property="communicationAllowRatio" />
		<result column="site_allow_ratio" property="siteAllowRatio" />
		<result column="overwork_allow_ratio" property="overworkAllowRatio" />
		<result column="other_allow1_nm" property="otherAllow1Nm" />
		<result column="other_allow1_ratio" property="otherAllow1Ratio" />
		<result column="other_allow2_nm" property="otherAllow2Nm" />
		<result column="other_allow2_ratio" property="otherAllow2Ratio" />
		<result column="sales_addup_month" property="salesAddupMonth" />
		<result column="work_days" property="workDays" />
		<result column="sum_contract_wm" property="sumContractWm" />
		<result column="billing_month" property="billingMonth" />
		<result column="sell_price" property="sellPrice" />
		<result column="business_days" property="businessDays" />
		<result column="cost_price" property="costPrice" />
		<result column="travel_cost_first_mon" property="travelCostFirstMon" />
		<result column="other_cost_first_mon" property="otherCostFirstMon" />
		<result column="travel_cost" property="travelCost" />
		<result column="insurance_cost" property="insuranceCost" />
		<result column="other_cost" property="otherCost" />
		<result column="insurance_k" property="insuranceK" />
		<result column="insurance_join_ymd" property="insuranceJoinYmd" />
		<result column="client_no" property="clientNo" />
		<result column="client_nm" property="clientNm" />
		<result column="client_url" property="clientUrl" />
		<result column="client_my_number" property="clientMyNumber" />
		<result column="client_post_no" property="clientPostNo" />
		<result column="client_addr" property="clientAddr" />
		<result column="client_tel_no" property="clientTelNo" />
		<result column="client_fax_no" property="clientFaxNo" />
		<result column="client_staff_nm" property="clientStaffNm" />
		<result column="client_staff_nm_fuli" property="clientStaffNmFuli" />
		<result column="client_staff_dept_nm" property="clientStaffDeptNm" />
		<result column="client_staff_position" property="clientStaffPosition" />
		<result column="client_staff_mobile_no" property="clientStaffMobileNo" />
		<result column="client_mail_addr" property="clientMailAddr" />
		<result column="client_mail_addr_cc" property="clientMailAddrCc" />
		<result column="client_req_staff_nm" property="clientReqStaffNm" />
		<result column="client_req_staff_nm_fuli" property="clientReqStaffNmFuli" />
		<result column="client_req_staff_dept_nm" property="clientReqStaffDeptNm" />
		<result column="client_req_staff_position" property="clientReqStaffPosition" />
		<result column="client_req_tel_no" property="clientReqTelNo" />
		<result column="client_req_fax_no" property="clientReqFaxNo" />
		<result column="client_req_staff_mobile_no" property="clientReqStaffMobileNo" />
		<result column="client_req_mail_addr" property="clientReqMailAddr" />
		<result column="client_req_mail_addr_cc" property="clientReqMailAddrCc" />
		<result column="client_req_post_no" property="clientReqPostNo" />
		<result column="client_req_addr" property="clientReqAddr" />
		<result column="client_order_no" property="clientOrderNo" />
		<result column="pj_cd" property="pjCd" />
		<result column="pj_nm" property="pjNm" />
		<result column="work_place" property="workPlace" />
		<result column="work_content" property="workContent" />
		<result column="accounting_pat_k" property="accountingPatK" />
		<result column="salary_pay_k" property="salaryPayK" />
		<result column="wh_max" property="whMax" />
		<result column="wh_min" property="whMin" />
		<result column="wh_mid" property="whMid" />
		<result column="excess_price" property="excessPrice" />
		<result column="deducation_price" property="deducationPrice" />
		<result column="pj_start_dt" property="pjStartDt" />
		<result column="pj_end_dt" property="pjEndDt" />
		<result column="work_time_unit_k" property="workTimeUnitK" />
		<result column="contract_work_month" property="contractWorkMonth" />
		<result column="pj_class_nm" property="pjClassNm" />
		<result column="work_start_time" property="workStartTime" />
		<result column="work_end_time" property="workEndTime" />
		<result column="break_time_min" property="breakTimeMin" />
		<result column="payment_plan_d" property="paymentPlanD" />
		<result column="payment_due_k" property="paymentDueK" />
		<result column="pay_month_k" property="payMonthK" />
		<result column="pay_plan_d" property="payPlanD" />
		<result column="salary_pay_plan_dt" property="salaryPayPlanDt" />
		<result column="bp_comp_id" property="bpCompId" />
		<result column="bp_comp_emp_nm" property="bpCompEmpNm" />
		<result column="bp_comp_url" property="bpCompUrl" />
		<result column="bp_my_number" property="bpMyNumber" />
		<result column="bp_post_no" property="bpPostNo" />
		<result column="bp_addr" property="bpAddr" />
		<result column="bp_tel_no" property="bpTelNo" />
		<result column="bp_fax_no" property="bpFaxNo" />
		<result column="bp_staff_nm" property="bpStaffNm" />
		<result column="bp_staff_nm_fuli" property="bpStaffNmFuli" />
		<result column="bp_staff_dept_nm" property="bpStaffDeptNm" />
		<result column="bp_staff_position" property="bpStaffPosition" />
		<result column="bp_staff_tel_no" property="bpStaffTelNo" />
		<result column="bp_staff_fax_no" property="bpStaffFaxNo" />
		<result column="bp_staff_mobile_no" property="bpStaffMobileNo" />
		<result column="bp_staff_mail_addr" property="bpStaffMailAddr" />
		<result column="bp_staff_mail_addr_cc" property="bpStaffMailAddrCc" />
		<result column="staff_addr" property="staffAddr" />
		<result column="staff_post_no" property="staffPostNo" />
		<result column="staff_mail_addr" property="staffMailAddr" />
		<result column="staff_tel_no" property="staffTelNo" />
		<result column="staff_mobile_no" property="staffMobileNo" />
		<result column="bp_accounting_pat_k" property="bpAccountingPatK" />
		<result column="bp_salary_pay_k" property="bpSalaryPayK" />
		<result column="bp_wh_max" property="bpWhMax" />
		<result column="bp_wh_min" property="bpWhMin" />
		<result column="bp_wh_mid" property="bpWhMid" />
		<result column="bp_excess_price" property="bpExcessPrice" />
		<result column="bp_deducation_price" property="bpDeducationPrice" />
		<result column="bp_work_unit_k" property="bpWorkUnitK" />
		<result column="bp_work_start_time" property="bpWorkStartTime" />
		<result column="bp_work_end_time" property="bpWorkEndTime" />
		<result column="bp_break_time_min" property="bpBreakTimeMin" />
		<result column="bp_payment_plan_d" property="bpPaymentPlanD" />
		<result column="bp_payment_due_k" property="bpPaymentDueK" />
		<result column="bp_pay_month_k" property="bpPayMonthK" />
		<result column="bp_pay_plan_d" property="bpPayPlanD" />
		<result column="bp_salary_pay_plan_dt" property="bpSalaryPayPlanDt" />
		<result column="mon_pro_k" property="monProK" />
		<result column="work_rep_f" property="workRepF" />
		<result column="bill_f" property="billF" />
		<result column="work_rep_dl_k" property="workRepDlK" />
		<result column="bill_dl_k" property="billDlK" />
		<result column="mon_attach_file_k" property="monAttachFileK" />
		<result column="mon_attach_file_id" property="monAttachFileId" />
		<result column="procedure_method_k" property="procedureMethodK" />
		<result column="withdrawal_reason_k" property="withdrawalReasonK" />
		<result column="withdrawal_letter_k" property="withdrawalLetterK" />
		<result column="insurance_con_k" property="insuranceConK" />
		<result column="withdrawal_req_doc" property="withdrawalReqDoc" />
		<result column="procedure_dt" property="procedureDt" />
		<result column="withdrawal_dt" property="withdrawalDt" />
		<result column="after_withdrawal_post_no" property="afterWithdrawalPostNo" />
		<result column="after_withdrawal_addr" property="afterWithdrawalAddr" />
		<result column="purchase_remark" property="purchaseRemark" />
		<result column="commercial_dist_remark" property="commercialDistRemark" />
		<result column="emp_remark" property="empRemark" />
		<result column="emp_info_chg_flg" property="empInfoChgFlg" />
		<result column="procedure_k" property="procedureK" />
		<result column="appoint_allow_amt" property="appointAllowAmt" />
		<result column="house_allow_amt" property="houseAllowAmt" />
		<result column="communication_allow_amt" property="communicationAllowAmt" />
		<result column="site_allow_amt" property="siteAllowAmt" />
		<result column="overwork_allow_amt" property="overworkAllowAmt" />
		<result column="other_allow1_amt" property="otherAllow1Amt" />
		<result column="other_allow2_amt" property="otherAllow2Amt" />
		<result column="mon_req_st" property="monReqSt" />
		<result column="mon_attach_file_remark" property="monAttachFileRemark" />
		<result column="mon_add_remark" property="monAddRemark" />
		<result column="sys_ins_user_id" property="sysInsUserId" />
		<result column="sys_ins_dt" property="sysInsDt" />
		<result column="sys_ins_pg_id" property="sysInsPgId" />
		<result column="sys_upd_user_id" property="sysUpdUserId" />
		<result column="sys_upd_dt" property="sysUpdDt" />
		<result column="sys_upd_pg_id" property="sysUpdPgId" />
	</resultMap>

</mapper>
