<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsrs.webedi.common.persistence.dao.MenuprogramMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.tsrs.webedi.common.persistence.model.Menuprogram">
		<id column="sub_menu_id" property="subMenuId" />
		<result column="menu_id" property="menuId" />
		<result column="pg_id" property="pgId" />
		<result column="low_menu_id" property="lowMenuId" />
		<result column="display_order" property="displayOrder" />
		<result column="display_flg" property="displayFlg" />
		<result column="sys_ins_user_id" property="sysInsUserId" />
		<result column="sys_ins_dt" property="sysInsDt" />
		<result column="sys_ins_pg_id" property="sysInsPgId" />
		<result column="sys_upd_user_id" property="sysUpdUserId" />
		<result column="sys_upd_dt" property="sysUpdDt" />
		<result column="sys_upd_pg_id" property="sysUpdPgId" />
	</resultMap>

</mapper>
